<div ng-controller="viewBMICtrl as ctrl">
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-light-green  w3-text-white w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-battery-three-quarters w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h2>{{ctrl.BMI}}</h2>
                </div>
                <div class="w3-clear"></div>
                <h4 ng-if="ctrl.BMI == NaN">BMI</h4>
                <h4 ng-if="ctrl.BMI < 18.5" class="w3-text-red">BMI - underweight</h4>
                <h4 ng-if="ctrl.BMI >= 18.5 && ctrl.BMI < 25">BMI - normal weight</h4>
                <h4 ng-if="ctrl.BMI >= 25 && ctrl.BMI < 30" class="w3-text-red">BMI - overweight</h4>
                <h4 ng-if="ctrl.BMI >= 30 && ctrl.BMI < 40" class="w3-text-red">BMI - obesity</h4>
                <h4 ng-if="ctrl.BMI >= 40 " class="w3-text-red">BMI - morbid obesity</h4>

            </div>
        </div>
    </div>

    <div class="container">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="weight">Your Weight:</label>
                <div class="col-md-3">
                    <input class="form-control" id="weight" type="number"
                           ng-model="ctrl.weight"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="height">Your Height</label>
                <div class="col-md-3">
                    <input class="form-control" data-format="yyyy-MM-dd" id="height" type="number"
                           ng-model="ctrl.height">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-2" ng-model="ctrl.gender">Gender</label>-->
                <!--<div class="col-md-3">-->
                    <!--<input class="w3-radio" type="radio" id="genderM" name="gender" value="male"-->
                           <!--checked><label>Male </label>-->
                    <!--<input class="w3-radio" type="radio" id="genderF" name="gender" value="female"-->
                           <!--checked><label>Female</label>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-3">
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <input class="w3-btn w3-round w3-light-green w3-text-white" type="button"
                           ng-click="ctrl.calculateBMI()"
                           value="Calculate your BMI">
                    <!--<h3>{{ctrl.BMI}}</h3>-->
                    <!--<div class="alert alert-success alert-dismissible fade show w3-light-green w3-text-white">-->
                    <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                    <!--<strong>Your BMI: {{ctrl.BMI}}</strong>-->


                </div>


                <!--<p id="demo" ng-click="myFunctionX()">Click me.</p>-->


                <!--<button class="w3-tooltip">London <span class="w3-text">(<em>Berlin</em>)</span> </button>-->
                <!--</div>-->
                <!--<script>-->
                <!--document.getElementById("demo").onclick = function() {myFunction()};-->

                <!--function myFunction() {-->
                <!--document.getElementById("demo").innerHTML = "YOU CLICKED ME!";-->
                <!--}-->

                <!--</script>-->

            </div>
        </form>
    </div>
</div>






