<div ng-controller="viewWorkoutListCtrl as ctrl">
    <div class="w3-row-padding w3-margin-bottom ">
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-sort-alpha-asc w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Workout list</h4>

            </div>
        </div>
    </div>

    <div class="w3-container">
        <table class="w3-table-all w3-card-4">
            <thead>
            <tr>
                <th>
                    Workout date:
                </th>
                <th>
                    Description:
                </th>
                <th>
                    Time:
                </th>
                <th>
                    Workout type:
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tr ng-repeat="element in ctrl.workoutList">
                <td>{{element.workoutDate}}</td>
                <td>{{element.description}}</td>
                <td>{{element.time}}</td>
                <td>{{element.workoutTypeSet.type}}</td>
                <td hidden ng-model="ctrl.id">{{element.id}}</td>

                <td><button class="btn" ng-click="ctrl.removeWorkout(element.id)"><i class="fa fa-trash"></i></button></td>

            </tr>
        </table>
        <hr>



        <input ng-if="ctrl.currentPage > 0" type="button" class="w3-btn w3-blue w3-round w3-left" ng-click="ctrl.fetchPrevious()" value="Prev">

        <input ng-if="ctrl.currentPage <= (ctrl.totalPages-1)" type="button" class="w3-btn w3-blue w3-round w3-right" ng-click="ctrl.fetchNext()" value="Next">





</div>

</div>
