<div ng-controller="ViewWeightTargetCtrl as ctrl">
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-text-white w3-padding-16 w3-round">
        <div class="w3-left"><i class="fa fa-check-square-o w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Weight Target</h4>

      </div>
    </div>
  </div>

  <div class="container">

  <form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="weightTarget">Weight Target:</label>
      <div class="col-md-3">
        <input class="form-control" id="weightTarget" type="number" ng-model="ctrl.formWeightTarget.weightTarget"></input>

      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="dateTarget">Date:</label>
      <div class="col-md-3">
        <input data-format="yyyy-MM-dd" id="dateTarget" type="date" placeholder="yyyy-MM-dd"
               ng-model="ctrl.formWeightTarget.dateTarget" class="form-control"
               ng-model-options="{timezone:'UTC+1'}"></input>

      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <input class="w3-btn w3-red w3-round w3-indigo" type="button" ng-click="ctrl.sendToBackend()" value="Save">
      </div>
    </div>
  </form>
  </div>



</div>