<div ng-controller="viewProgressCtrl as ctrl">
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-text-white w3-padding-16 w3-round">
        <div class="w3-left"><i class="fa fa-line-chart w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Progress</h4>

      </div>
    </div>
  </div>


  <div class="row">
  <div class="w3-container w3-half">
    <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-6" for="weight">Your Current Weight:</label>
      <div class="col-md-6">
        <input class="form-control" id="weight" type="number" ng-model="ctrl.formProgress.weight"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-6" for="date">Date:</label>
      <div class="col-md-6">
        <!--<input class="form-control" data-format="yyyy-MM-dd" id="date" type="date" ng-model="ctrl.formProgress.date">-->
        <input data-format="yyyy-MM-dd" id="date" type="date" placeholder="yyyy-MM-dd"
               ng-model="ctrl.formProgress.date" class="form-control"
               ng-model-options="{timezone:'UTC+1'}"></input>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <input class="w3-btn w3-teal w3-round w3-indigo" type="button" ng-click="ctrl.sendToBackendProgress()" value="Save">
      </div>
    </div>
  </form>
  </div>

    <div class="w3-half">
    <table class=" col-md-10 w3-table-all w3-card-4 w3-round">
      <thead>
      <tr>
        <th>
          Date:
        </th>
        <th>
          Weight:
        </th>
      </tr>
      </thead>
      <tr ng-repeat="element in ctrl.progressList">
        <td>{{element.date}}</td>
        <td>{{element.weight}}</td>

      </tr>
    </table>
      </div>
  </div>

</div>