<div ng-controller="ViewWorkoutCtrl as ctrl">
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-amber w3-text-white w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-soccer-ball-o w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Workouts</h4>

            </div>
        </div>
    </div>
    <div class="w3-container">
        <form class="form-horizontal">
            <label class="control-label col-sm-2">Add your workout</label>


            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="description" type="text"
                           ng-model="ctrl.formWorkout.description"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="workoutDate">Date:</label>
                <div class="col-sm-10">
                    <input data-format="yyyy-MM-dd" id="workoutDate" type="date" placeholder="yyyy-MM-dd"
                           ng-model="ctrl.workoutDate" class="form-control"
                           ng-model-options="{timezone:'UTC+1'}"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="time">Time:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="time" type="number" ng-model="ctrl.formWorkout.time"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="workoutType">Workout Type:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="workoutType" ng-model="ctrl.formWorkout.workoutType">
                        <option ng-repeat="workouttype in ctrl.typeList">{{workouttype.type}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <input class="w3-btn w3-amber w3-round w3-text-white" type="button" ng-click="ctrl.sendToBackend()"
                           value="Save Workout">
                </div>
            </div>

        </form>

    </div>

</div>