<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Workout LOG</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#!/viewHome" ng-if="loggedIn">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!/view1" ng-if="loggedIn">User list</a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#!/view2">Registration</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" href="#!/viewWorkout" ng-if="loggedIn">Workout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/viewWorkoutList" ng-if="loggedIn">Workout list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/viewWeightTarget" ng-if="loggedIn">Weight Target</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/viewProgress" ng-if="loggedIn">Progress</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/viewBMI" ng-if="loggedIn">BMI</a>
        </li>

      </ul>
      <ul class="navbar-nav  w3-right">
        <li class="nav-item">
          <a class="nav-link" href="#!/view2">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/viewLogin">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/viewLogin">Logout</a>
        </li>

      </ul>

      <!--<form class="form-inline mt-2 mt-md-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      <!--</form>-->
    </div>
  </nav>
</header>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<main role="main">
  <div class="container distanced-from-top">
    <div ng-view></div>
  </div>
</main>




<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>

<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="viewWorkout/viewWorkout.js"></script>
<script src="viewWorkoutList/viewWorkoutList.js"></script>
<script src="viewWeightTarget/viewWeightTarget.js"></script>
<script src="viewHome/viewHome.js"></script>
<script src="viewProgress/viewProgress.js"></script>
<script src="viewLogin/viewLogin.js"></script>
<script src="viewBMI/viewBMI.js"></script>
<script src="services/auth-service.js"></script>



<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>