<div ng-controller="ViewHomeCtrl as ctrl">

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-red w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-font-awesome w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{ctrl.numberofworkouts}}</h3>

                </div>
                <div class="w3-clear"></div>
                <h4>Workouts</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{ctrl.time}} min</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Workout in min</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-teal w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-check-square-o w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{ctrl.target}} kg</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Your Weight Target</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-orange w3-text-white w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-calendar w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <!--<h3>{{ctrl.datab}}</h3>-->
                    <!--<h3>2018-04-20</h3>-->
                    <h3>{{date | date:'yyyy-MM-dd'}}</h3>

                </div>
                <div class="w3-clear"></div>
                <h4>Date</h4>
            </div>
        </div>
    </div>


    <div class="w3-container w3-dark-grey w3-padding-16 w3-margin w3-round">
        <div class="w3-row">
            <div class="w3-container w3-third">
                <h3 class="w3-bottombar w3-border-green">Welcome</h3>
                <h5>{{ctrl.username}}</h5>

            </div>


        </div>
    </div>


    <div class="w3-container ">
        <h5>Your progress</h5>
        <div class="w3-grey w3-round">
            <div class="w3-container w3-center w3-padding w3-green w3-round" style="width:{{ctrl.procent}}%">
                {{ctrl.diff}} kg
                <div class="w3-right"> {{ctrl.procent}}%</div>
            </div>
        </div>
        <br>

        <div class="w3-grey w3-round">
            <div class="w3-container w3-center w3-padding w3-blue w3-round" style="width:{{ctrl.procentoday}}%">
                {{ctrl.daysToEnd}} days left
                <div class="w3-right"> {{ctrl.procentoday}}%</div>
            </div>
        </div>
        <div></div>
    </div>

    <div class="w3-container w3-row-padding">
        <div class="w3-half w3-padding-16">
            <h5>Your activity type:</h5>
            <table class="w3-table w3-striped w3-white">
                <tr ng-repeat="element in ctrl.typeList">
                    <td><i class="fa fa-arrow-right w3-text-blue w3-large"></i></td>
                    <td>{{element.type}}</td>
                    <td>{{ctrl.counters[element.type]}}</td>


                </tr>

            </table>
        </div>

        <!--<h5>Add your type</h5>-->

        <form class="form-horizontal">
            <div class="form-group">

                <div class="col-md-6">

                    <input class="w3-input w3-animate-input" id="workoutType" placeholder="enter new type" type="text"
                           style="width:135px" ng-model="ctrl.formType.workoutType">
                    <br>
                    <input class="w3-btn w3-blue w3-round " type="button" ng-click="ctrl.sendToBackendType()"
                           value="Save">
                </div>
            </div>


        </form>


    </div>
</div>




