<div ng-controller="ViewLoginCtrl as ctrl">

    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16 w3-round">
          <div class="w3-left"><i class="fa fa-address-book w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3></h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Login</h4>

        </div>
      </div>
    </div>


  <div class="container">

    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="login">Login:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="login" placeholder="Enter login" ng-model="ctrl.formUser.username"></input>
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<label class="control-label col-sm-2" for="email">Email:</label>-->
        <!--<div class="col-sm-10">-->
          <!--<input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="ctrl.formUser.email">-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <label class="control-label col-sm-2" for="pass">Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="pass" placeholder="Enter password" ng-model="ctrl.formUser.password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
          <input class="w3-btn w3-orange w3-round w3-text-white" type="button" ng-click="ctrl.authenticate()" value="Login">
        </div>
      </div>
    </form>
  </div>
</div>