<div ng-controller="View1Ctrl as ctrl">
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-green w3-padding-16 w3-round">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>User list</h4>

            </div>
        </div>
    </div>
    <div class="w3-container">

        <table class="w3-table-all w3-card-4">
            <thead>
            <tr>
                <th>
                    Identifier
                </th>
                <th>
                    Login
                </th>
                <th>
                    Email
                </th>
            </tr>
            </thead>
            <tr ng-repeat="element in ctrl.userList" ng-class="ctrl.loggedInUser==element.id ? 'red-label' : ''">
                <td>{{element.id}}</td>
                <td>{{element.login}}</td>
                <td>{{element.email}}</td>
            </tr>
        </table>
        <hr>
    <input ng-if="ctrl.currentPage > 0" type="button" class="w3-btn w3-green w3-round w3-left" ng-click="ctrl.fetchPrevious()" value="Prev">

    <input ng-if="ctrl.currentPage <= (ctrl.totalPages-1)" type="button" class="w3-btn w3-green w3-round w3-right" ng-click="ctrl.fetchNext()" value="Next">


    </div>
</div>